<div id="wrapper">
	<%=erb :"filter/_filter_form"  %>
	<h1>PATS ROTTEN TOMATOES</h1>
<table>
	<tr>
		<th></th>
		<th class="title">TITLE</th>
		<th>SYNOPSIS</th>
		<th>RATING</th>
		<th>RELEASE DATE</th>
		<th>RUNTIME</th>
		<th>CRITICS SCORE</th>
		<th>FAVORITE</th>
	</tr>
	<% @movies.each do |movie| %>
	<tr>
		<td><img src="<%= movie.poster_thumbnail %>"></td>
		<td><a class-"title" href="/movie/<%= movie.id %>"><p><%= movie.title %></p></a></td>
		<td><p><%= movie.synopsis %></p></td>
		<td><p><%= movie.mpaa_rating%></p></td>
		<td><p><%= movie.release_date %></p></td>
		<td><p><%= movie.runtime %></p></td>
		<td><p><%= movie.critics_score %></p></td>
		<td>
			<% if movie.favorite == true %>
				<form class="unfav" action="/<%=movie.id%>" method='POST'>
					<input type="hidden" name="_method" value="PUT">
					<input type="hidden" name="movie[favorite]" value="false">
					<button class="favorited_button" type="submit">Favorited</button>
				</form>
			<% else %>
				<form class="fav" action="/<%=movie.id%>" method='POST'>
					<input type="hidden" name="_method" value="PUT">
					<input type="hidden" name="movie[favorite]" value="true">
					<button  class="favorite_button" type="submit">Favorite</button>
				</form>
			<% end %>
		</td>
	</tr>
	<% end %>
</table>
</div>