

<div id="fav_wrapper">
	<%=erb :"filter/_filter_form"  %>
		<h1><%= @movie.title %></h2>
		<img src="<%= @movie.poster_thumbnail %>">
		<p><span class="grey">Cast:</span> <%= @movie.cast1 %>, <%= @movie.cast2 %>, <%= @movie.cast3 %>, <%= @movie.cast4 %>, <%= @movie.cast5 %></p>

		<p><span class="grey">Release Date:</span> <%= @movie.release_date %></p>
		<p><span class="grey">Synopsis:</span> <%= @movie.synopsis %></p>
		<p><span class="grey">MPAA Rating:</span> <%= @movie.mpaa_rating%></p>
		<p><span class="grey">Year:</span> <%= @movie.year %></p>
		<p><span class="grey">Runtime:</span> <%= @movie.runtime %></p>
		<p><span class="grey">Critics Score:</span> <%= @movie.critics_score %></p>
		<p><span class="grey">Audience Score:</span> <%= @movie.audience_score %></p>
</div>